<table class="table table-striped">

  <th>Name</th>
  <th>Questions</th>
    <th>Answers</th>
      <th>Points</th>
<tr>
<td> <%= @user.login %> <% if @user.avatar? %>
<img class="img-thumbnail" src="<%= @user.avatar.url%>"  style="width: 100px; height: 100px;">

<% else %>
<span class="glyphicon glyphicon-user" aria-hidden="true"  ></span>
<% end %>
</td>
    <td> <% @user.questions.each do |question| %>
  <o>
    <%= link_to GitHub::Markdown.render_gfm("#{question.title}").html_safe, question_path(question.id) %>
  </p>

  <%end%>
  </td>

   <td>  <% @user.answers.each do |answer| %>
  <p>

    <%= link_to GitHub::Markdown.render_gfm("#{answer.content}").html_safe, question_path(answer.question_id)%>
  </p>
  <%end%>
  </td>
    <td>
  <%= @user.points %>
  

  <% if @user.points >= 1000 %>
    <%= image_tag 'superstar.png' %>
    <% end %>


</td>

</table>











